# Directories #
build/
bin/
target/
libs/
tmp/
node_modules/
jaxws/jaxws-client/src/main/java
jaxws/jaxws-endpoint/src/main/webapp/WEB-INF/wsdl/
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

